%section
  .clients
    .list
      %h2 Clients
      .bw
        = image_tag('clients/solidsocial.png', alt: 'Clients')
      .bw
        = image_tag('clients/lectrio.png', alt: 'Clients')
      .bw
        = image_tag('clients/razmir.png', alt: 'Clients')
      .bw
        = image_tag('clients/canactions.png', alt: 'Clients')
      .bw
        = image_tag('clients/expono.png', alt: 'Clients')