%section
  .clients
    .list
      %h2 Clients
      .bw
        = image_tag('clients/solidsocial.png', alt: 'Solid Social')
      .bw
        = image_tag('clients/lectrio.png', alt: 'Lectrio')
      .bw
        = image_tag('clients/razmir.png', alt: 'Razmir')
      .bw
        = image_tag('clients/canactions.png', alt: 'Canactions')
      .bw
        = image_tag('clients/expono.png', alt: 'Expono')