.container
  %section
    %article
      .about
        .logo
          =image_tag('11.png', alt: '', style: 'float: left;')
        .desc= t(:main_desc)
    %article
      .design
        .logo
          =image_tag('design.png', alt: t(:design))
        .desc
          %h2= t(:design)
          %p= t(:design_desc)
    %article
      .development
        .logo
          =image_tag('development.png', alt: t(:development))
        .desc
          %h2= t(:development)
          %p= t(:development_desc)
    %article
      .complex-websites
        .logo
          =image_tag('complex-websites.png', alt: t(:complex_apps))
        .desc
          %h2= t(:complex_apps)
          %p= t(:complex_apps_desc)
    %article
      .code-quality
        .logo
          =image_tag('code-quality.png', alt: t(:code_quality))
        .desc
          %h2= t(:code_quality)
          %p= t(:code_quality_desc)
.container
  = render 'pages/clients'
