.container
  %section
    %article
      .top-txt
        %h2= t(:about_us_header)
        %p= t(:about_us_desc)
  %section
    .team
      %h2= t(:team_header)
      %ul.employees
        %li.vcard
          =image_tag('team/denys.jpg', alt: t(:denys_photo), class: 'photo')
          %p.fn= t(:denys)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/nikita.jpg', alt: t(:nikita_photo), class: 'photo')
          %p.fn= t(:nikita)
          %p.title= t(:designer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/oleg.jpg', alt: t(:oleg_photo), class: 'photo')
          %p.fn= t(:oleg)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/roman.jpg', alt: t(:roman_photo), class: 'photo')
          %p.fn= t(:roman)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/rostyslav.jpg', alt: t(:rostyslav_photo), class: 'photo')
          %p.fn= t(:rostyslav)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/sasha.jpg', alt: t(:sasha_photo), class: 'photo')
          %p.fn= t(:sasha)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/sergij.jpg', alt: t(:sergij_photo), class: 'photo')
          %p.fn= t(:sergij)
          %p.title= t(:manager)
          %span.org Webmil
        %li.vcard
          =image_tag('team/victor.jpg', alt: t(:victor_photo), class: 'photo')
          %p.fn= t(:victor)
          %p.title= t(:developer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/yura.png', alt: t(:yura_s_photo), class: 'photo')
          %p.fn= t(:yura_s)
          %p.title= t(:designer)
          %span.org Webmil
        %li.vcard
          =image_tag('team/yura_.jpg', alt: t(:yura_r_photo), class: 'photo')
          %p.fn= t(:yura_r)
          %p.title= t(:frontend_developer)
          %span.org Webmil
  = render 'pages/clients'