.container
  %section
    %article
      .about-us
        %h2 About us
        %p
          Webmil lab has started by FirstName LastName in 2009. Since then the team has grown to 10 people. We have 6 talented developers, two VanGogh-like designers, an amazing frontend-developer and a rock-star manager.
          We entirely enjoy our work; we enjoy it even more in the spirit of eagerness and professionalism that is the indispensable thing in office. Supporting the view of programming being a pure form of creativity, we place major priority in making projects and services sound and dance. We believe, vast concerns and versatility are what makes a difference in the stereotypical approach to software making.
    %article
      .office
        %h2 Office
        %p Those who possess information possess the world. And we can help you become one of those! Webmil lab is inspirational digital web agency. We are young yet experienced. and work-eager people, who are quite aware of how to make your project’s effectiveness sky-rocket. In the world of ideas, we persistently keep up to the quality-oriented, and therefore the client-oriented philosophy.
        %p Webmil lab is headquartered in the center of Ivano-Frankivsk, effortlessly findable and reachable.
  %section
    .team
      %h2 Team
      %ul.employees
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
        %li.vcard
          =image_tag('team.png', alt: 'Team', class: 'photo')
          %p.fn Name
          %p.title Developer
  %section
    %article
      .studio-design
        %h2 Design
        %p Attention to detail cannot be explained in plain words, but it could be only felt. Even though it merely targets subconsciousness, it also gives birth to motivations and strongly impacts actual decisions. Poor or well-cut, minimized or stuffed, template-like or hypercreative, website design might either attract or repel your visitors. Through years of experience, we’ve got our own simple secret of conceptual versatility. We tend not borrow ideas, instead we generate brand new ideas ourselves. Simple ideas. This proves to give the most sophistication. Simplicity sells.
    %article
      .studio-development
        %h2 Development
        %p The process of creating a distinct product resembles building a chain out of separate ideas. Transforming concepts and ideas into solid product was the backbone of our work for many years. Every product needs reliable code. We are proficient in a variety of programming languages and technologies. We like HTML5, CSS3, JavaScript (jQuery), SQLite / MySQL / PostgreSQL, PHP5 (and web-frameworks like Symfony, Symfony 2), Apache, nginx.​ Multiple code reviews, immediate reaction on prohecyplan changes in project plus tight cooperation with client ensure maximum perfected outcome.
    %article
      .studio-complex-websites
        %h2 Complex Websites
        %p Alongside with software improvement the very interfaces get way more elaborate too, day by day. Leaflet-likeness of websites is now the matter of the past. Taking a good degree of sophistication for granted, we focus on start-ups and turnkey projects of any type. In other words, we are quite start-up-friendly.
    %article
      .studio-code-quality
        %h2 Code Quality
        %p Sound software is undoubtedly our major care. For it to be well-tailored, reliable code is of first priority. Apparently, the main objective of our software-making work is to produce code of the best quality, that not only functions smoothly at the time being, but is flexible enough to be updated and applicable with new purposes.
    %article
      .agile-scrum-advantages
        %h2 Agile & Scrum Advantages
        .agile-scrum-advantages-p-1
          %p Far are the times when composing intricate documentation prevailed over focusing on the very product. It wastes precious time, let alone trees cut for the sake of paper. We primarily aim at establishing communication with the client - in other words, the current project is entirely under your control. For deadlines to be met, the task-managing software is used, [namely redmine and megaplan.ru], which provides the full registry of all completed and to-do tasks, as well as the time consumed. Version control is exercised via git and mercurial tools, on the spot of mysql and mongodb databases. To make sure the code is checked carefully, we are used to do pair programming; that means that two developers work concurrently and in tandem. We believe it 
        .agile-scrum-advantages-p-2
          %p
            will make you happier: you manage th=e project together with us, who are able to react rapidly on slight changes in requirements, granting you an opportunity to exclude provisions which are not necessary anymore. Therefore, the process gets more like shifting between the product owner and developers. Consequently, you are shaping the potential outcome with your own fingers, so to say. Such approach is based upon Agile and Scrum techniques of flexible project-managing methodology, that we have been implementing throughout our entire experience since 2009.
            Our team is of ten people with six php-developers, two designers and a layout designer, and a manager inclusive.
        .agile-scrum-advantages-p-3
          %p Be the product manager on your project. Choose project management tools that you like from Basecamp and Pivotal Tracker to Github and BeanStalk. Set us deadlines, as we like them. We proficient in Agile and SCRUM methodology and use techniques like pair programming to ensure quick and quality delivery.
  %section
    .clients
      .list
        %h2 Clients
        .bw
          = image_tag('portfolio-1.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-2.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-3.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-4.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-1.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-2.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-3.png', alt: 'Clients')
        .bw
          = image_tag('portfolio-4.png', alt: 'Clients')
    