%footer
  .footer-container
    .sitemap
      %h4 Sitemap
      %ul
        %li
          = link_to 'home', root_path
          %p shortly about us
        %li
          = link_to 'works', works_path
          %p see what we do
        %li
          = link_to 'team', studio_path
          %p who’s there
        %li
          = link_to 'contacts', contacts_path
          %p where we are
      .copyright
        %p © 2009-2012 Webmil lab. All rights reserved.

    .resources
      %h4 Resources
      %ul
        %li
          %a{:href => "http://facebook.com/webmileu"} facebook
        %li
          %a{:href => "http://twitter.com/webmil"} twitter
        %li
          %a{:href => "https://plus.google.com/105004848481490299912", :rel=>"publisher"} google+
    .address{itemscope: true,  itemtype: "http://schema.org/Organization"}
      %h4 Get in touch with us
      %meta{itemprop: "name", content: "Webmil"}
      %address{itemscope: true, itemprop: "address" ,itemtype: "http://schema.org/PostalAddress"}
        .tel{itemprop: "telephone"} +380 342 735 448
        .mail{itemprop: "email"} info@webmil.com.ua
      %p
        = link_to 'Map & directions', contacts_path
%script{'type'=> 'text/javascript'}
  :plain
    $(window).load(function(){
        $('.bw').BlackAndWhite({
            hoverEffect : true,
            // set the path to BnWWorker.js for a superfast implementation
            webworkerPath : false,
            // for the images with a fluid width and height
            responsive:true
        });
    });

    <!-- Yandex.Metrika counter -->
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter19172665 = new Ya.Metrika({id:19172665,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");