%footer
  .footer-container
    .sitemap
      %h4= t(:sitemap)
      %ul
        %li
          = link_to t(:footer_home), root_path
          %p= t(:footer_home_desc)
        %li
          = link_to t(:footer_works), works_path
          %p= t(:footer_works_desc)
        %li
          = link_to t(:footer_team), studio_path
          %p= t(:footer_team_desc)
        %li
          = link_to t(:footer_contacts), contacts_path
          %p= t(:footer_contacts_desc)
      .copyright
        %p= t(:copyright)

    .resources
      %h4= t(:resources)
      %ul
        %li
          %a{:href => "http://facebook.com/webmileu"} facebook
        %li
          %a{:href => "http://twitter.com/webmil"} twitter
        %li
          %a{:href => "https://plus.google.com/105004848481490299912", :rel=>"publisher"} google+
    .address{itemscope: true,  itemtype: "http://schema.org/Organization"}
      %h4= t(:get_in_touch)
      %meta{itemprop: "name", content: "Webmil"}
      %address{itemscope: true, itemprop: "address" ,itemtype: "http://schema.org/PostalAddress"}
        .tel{itemprop: "telephone"}= t(:contact_phone_main)
        .mail{itemprop: "email"}= t(:contact_email)
      %p
        = link_to t(:map_directions), contacts_path
%script{'type'=> 'text/javascript'}
  :plain
    $(window).load(function(){
        $('.bw').BlackAndWhite({
            hoverEffect : true,
            // set the path to BnWWorker.js for a superfast implementation
            webworkerPath : false,
            // for the images with a fluid width and height
            responsive:true
        });
    });

    <!-- Yandex.Metrika counter -->
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter19172665 = new Ya.Metrika({id:19172665,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");